.Applying-for-GSoC {
  font-size: 25px;
  color: #f6f4e6;
}
.undraw_Working_oh83 {
  width: 390.2px;
  height: 294.5px;
  object-fit: contain;
}
.undraw_files_6b3d {
  width: 310.9px;
  height: 280.4px;
  object-fit: contain;
}
.Its-time-to-submit-your-work {
  font-family: "PT Sans", sans-serif;

  color: #110133;
}
.footer-nav {
  left: 0;
  bottom: 0;
  padding: 20px;
}

.show,
.footer-nav:hover {
  display: block;
}

.Copyright {
  color: white;
}
.mail-footer {
  color: white;
}
