header {
  background-color: #110133;
}

.AOSSIE_logo_11_cropped_15cm {
  width: 100%;
  height: 425px;
  object-fit: contain;
}

.google-plus-square {
  width: 50px;
  height: 50px;
  object-fit: contain;
  background-color: #110133;
}
.github-square {
  width: 50px;
  height: 50px;
  object-fit: contain;
  background-color: #110133;
}
.twitter-square {
  width: 50px;
  height: 50px;
  object-fit: contain;
  background-color: #110133;
}
.we-innovate {
  color: #f6f4e6;
}
.chevron-circle-down {
  width: 50px;
  height: 50px;
  object-fit: contain;
  background-color: #110133;
}
.undraw_fatherhood_7i19 {
  width: 100%;
  height: 466.8px;
  object-fit: contain;
}
.undraw_unexpected_friends_tg6k {
  width: 100%;
  height: 421.8px;
  object-fit: contain;
}
.auth0 {
  width: 157px;
  height: 89px;
  object-fit: contain;
}
.yourkit {
  width: 126px;
  height: 94px;
  object-fit: contain;
  padding-left: 10px;
}
.undraw_selecting_1lx3 {
  width: 100%;
  height: 412.6px;
  object-fit: contain;
}
.agora {
  width: 143px;
  height: 143px;
  object-fit: contain;
}
.carboonfootprint {
  width: 173px;
  height: 173px;
  object-fit: contain;
}
.footer-nav {
  left: 0;
  bottom: 0;
  padding: 20px;
}

.Copyright {
  color: white;
}
.mail-footer {
  color: white;
}

.footer-google-plus-square {
  width: 37.2px;
  height: 37.2px;
  object-fit: contain;
  background-color: #707070;
}
.footer-github-square {
  width: 37.2px;
  height: 37.2px;
  background-color: #707070;
  object-fit: contain;
}
.footer-twitter-square {
  width: 37.2px;
  height: 37.2px;
  object-fit: contain;
  background-color: #707070;
}
